body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
    background-color: #f8f9fa;
    color: #343a40;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 80px;
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
}

.hero {
    text-align: center;
    margin-bottom: 60px;
}


img.hero-image {
    float: left;
    margin-right: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img.hero-image:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 2, 5, 0.3);
}

.hero h1 {
    font-size: 3em;
    color: #007bff;
    margin-bottom: 15px;
}

.hero p {
    font-size: 1.2em;
    line-height: 1.8;
    max-width: 600px;
    margin: 0 auto;
    color: #6c757d;
}

/* Tabs */
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.tab {
    padding: 15px 25px;
    margin: 0 10px;
    border: none;
    background-color: transparent;
    color: #343a40;
    cursor: pointer;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

.tab:hover,
.tab.active {
    color: #007bff;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
    text-align: left;
}


/* footer */
footer {
    background-color: transparent;
    padding: 40px 0;
    text-align: center;
}

.footer-content {
    max-width: 960px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.section-panel {
    background-color: white;
    padding: 20px;
    border: 1px solid #cecece;
    border-radius: 10px;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info a {
    color: #007bff;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-info a:hover {
    color: #0056b3;
    text-decoration: underline;
}

footer p {
    color: #6c757d;
    font-size: smaller;
}

.timeline h2 {
    text-align: center;
    color: #2c3e50;
}

.timeline-container {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.timeline-year {
    margin-bottom: 40px;
    position: relative;
}

.timeline-year h3 {
    font-size: 1.8rem;
    color: #007bff;
    margin-bottom: 10px;
}

.timeline-content {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 30px;
    border-left: 2px solid #c1defc;
}

.timeline-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    position: relative;
}

.timeline-dot {
    width: 12px;
    height: 12px;
    background-color: #c1defc;
    border-radius: 50%;
    position: absolute;
    left: -7px;
    top: 0;
}

.timeline-details {
    background: #ffffff;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
}

.timeline-details p {
    color: #2d2d2d;
    margin: 0px 0;
}

.timeline-details img {
    width: 80%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.timeline-img {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.timeline-img:hover {
    transform: scale(1.05);
}


/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); 
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 95%;
    max-height: 95%;
    border-radius: 0;
    margin: 0;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    main {
        padding: 40px;
    }

    .hero{
        margin-bottom: 20px;
    }

    .hero h1 {
        font-size: 2.5em;
    }

    .hero p {
        font-size: 1.1em;
    }

    .tabs {
        flex-direction: column;
    }

    .tab {
        margin: 0;
        width: 100%;
        padding: 5px 15px;
    }

    .tab-content {
        margin-top: 50px;
    }

    .about {
        flex-direction: column;
        text-align: center;
    }
    .about-image {
        margin-bottom: 20px;
    }

    footer .footer-content {
        padding: 20px;
    }
    .contact-info a {
        margin: 0 10px;
    }

    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 95%;
        max-height: 95%;
        border-radius: 0;
        margin: 0;
    }

    .close {
        top: 10px;
        right: 15px;
        font-size: 1.5rem;
    }
}

/* Smaller screen adjustments */
@media (max-width: 480px) {
    .hero h1 {
        font-size: 2em;
    }
}

@media (max-width: 768px) {
    footer {
        padding: 30px 0;
    }

    .footer-content {
        padding: 20px;
    }

    .contact-info a {
        margin: 0 10px;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* podcast */
.podcast-signup {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
  }
  
  .podcast-signup h2 {
      margin-bottom: 10px;
  }
  
  .podcast-signup .email-capture {
      max-width: 400px;
      margin: 0 auto;
      display: flex; 
  }
  
  .podcast-signup .email-capture input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px; 
  }
  
  .podcast-signup .email-capture button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  #podcast-message {
    margin-top: 10px;
    color: green;
  }
  
  #podcast-message.error {
    color: red;
  }

  /* podcast end */

  /* utils */

  /* end utils */